<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/logo-nav.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet" />
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/scripts/wowslider.js"></script>
</head>
<body>
    <div id="divNavBar">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top background-blue">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="img-fluid" src="~/images/logo/logo.png" width="150" height="20" alt="">
                    MTS
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-black" href="Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="OurService">Our Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="ToolAndTackles">Tool And Tackles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="ManPower">Staff / Man Power</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="Clients">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid body-content" style="margin-top:55px">
        @RenderBody()
    </div>
    <div>
        <hr />
        <footer class="page-footer font-small mdb-color pt-4">
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left mt-3 pb-3">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
                        <p>Here we are gone put map</p>
                    </div>
                    <hr class="w-100 clearfix d-md-none">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Quick Links</h6>
                        <p>
                            <a href="#!">Home</a>
                        </p>
                        <p>
                            <a href="#!">Our Service</a>
                        </p>
                        <p>
                            <a href="#!">Tool and tackles</a>
                        </p>
                        <p>
                            <a href="#!">Staff / Man power</a>
                        </p>
                        <p>
                            <a href="#!">Clients</a>
                        </p>
                        <p>
                            <a href="#!">About us</a>
                        </p>
                        <p>
                            <a href="#!">Contact us</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                        <p>
                            <a href="#!">Your Account</a>
                        </p>
                        <p>
                            <a href="#!">Become an Affiliate</a>
                        </p>
                        <p>
                            <a href="#!">Shipping Rates</a>
                        </p>
                        <p>
                            <a href="#!">Help</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Head office</h6>
                        <p>
                            <i class="fas fa-home mr-3"></i>PLOT NO - 1046, OPP. SWAMINARAYAN TEMPLE, GIDC, ANKLESHWAR- 393002 DIST. – BHARUCH, GUJARAT
                        </p>
                        <h6 class="text-uppercase mb-4 font-weight-bold">WorkShop</h6>
                        <p>
                            <i class="fas fa-home mr-3"></i>PLOT NO. 4736, OPP. IPCA LAB, GIDC ANKLESHWAR, 393002
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> info@gmail.com
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> +91 9924300045
                        </p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Footer links -->

                <hr>

                <!-- Grid row -->
                <div class="row d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8">

                        <!--Copyright-->
                        <p class="text-center text-md-left">
                            © 2018 Copyright:
                            <a href="https://mdbootstrap.com/education/bootstrap/">
                                <strong> MDBootstrap.com</strong>
                            </a>
                        </p>

                    </div>
                    <div class="col-md-5 col-lg-4 ml-lg-0">
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-facebook-f">F</i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-twitter">T</i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-google-plus-g">G</i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-linkedin-in">L</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>