
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/slider.css" rel="stylesheet" />

</head>
<body>
    <div>
        <div id="wowslider-container1">
            <div class="ws_images">
                <ul>
                    <li><a href="flow-elements.html"><img src="~/images/slider/1.jpg" alt="1" border="0" id="wows1_0" title="Venturi Tube" /></a></li>
                    <li><a href="piping-fabrication-work.html"><img src="~/images/slider/2.jpg" alt="1" border="0" id="wows1_0" title="Piping Fabrication" /></a></li>
                    <li><a href="distillation-columns.html"><img src="~/images/slider/3.jpg" alt="2" border="0" title="Distillation Column" id="wows1_1" /></a></li>
                    <li><a href="vessel-fabrication-work.html"><img src="~/images/slider/4.jpg" alt="3" border="0" title="Storage Tank" id="wows1_2" /></a></li>
                    <li><a href="heat-exchangers.html"><img src="~/images/slider/5.jpg" alt="4" border="0" title="Heat Exchanger" id="wows1_3" /></a></li>
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#" title="1">1</a>
                    <a href="#" title="5">5</a>
                    <a href="#" title="2">2</a>
                    <a href="#" title="3">3</a>
                    <a href="#" title="4">4</a>
                </div>
            </div>
            <div class="ws_shadow"></div>
        </div>
        <div>
            <p>
                MECHANICAL & TECHNICAL SOLUTIONS has gained an excellent
                reputation for structure steel fabrication, Piping, heavy structure, loading and
                unloading of equipment, anti-corrosive Metal work construction and all type of
                engineering work in the field of mechanical. The company aims to provide
                efficient, professional and cost effective services and has built a solid reputation
                based on the principles of integrity, innovation and commitment.
            </p>
            <p>
                MTS is incorporated in the year 2013, having experience in Chemical &
                Pharmaceutical Machinery Manufacturing field. We are having team of well
                qualified engineer’s specialist in chemical & pharmaceutical field. The company
                is constantly trying to procure and supply the finest quality machineries at very
                reasonable prices. We are constantly strives to optimize our work process by
                integrating the high-tech process during the operation, supply chain and
                logistics. With our excellent management strategies and refined vision, we have
                achieved a prompt growth in the industry
            </p>
        </div>
    </div>
    <script src="~/scripts/slider.js"></script>
</body>
</html>
