
@{
    ViewBag.Title = "Staff and man power";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManPower</title>
</head>
<body>
    <div class="row mx-auto">
        STAFF
        <div class="col-sm-3 card-columns">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 card-columns">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 card-columns">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-3 card-columns">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto">
        STAFF
        <div class="col-sm-3 card-columns">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 card-columns">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 card-columns">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-3 card-columns">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on tquick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
