
@{
    ViewBag.Title = "Our service";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OurService</title>
</head>
<body>
    <div>
        <p class="text-center font-weight-bold" >SERVICES OFFERED</p>
        <div class="card my-1">
            <div class="card-body">
                1. All Type of Mechanical Project work
            </div>
        </div> 
        <div class="card my-1">
            <div class="card-body">
                2. Fabrication and Erection work of Industrial Plants
            </div>
        </div> 
        <div class="card my-1">
            <div class="card-body">
                3. Erection/Testing/Commissioning of all type of Equipment & Piping
            </div>
        </div> 
        <div class="card my-1">
            <div class="card-body">
                4. Fabrication of Storage tank, Hopper , Chimney, Vessel, Reactors,
                Blenders, Condenser and etc.(MS/SS)
            </div>
        </div> 
        <div class="card my-1">
            <div class="card-body">
                5. Fabrication & Erection of Piping MS/SS, FRP (PP/PVDF/PPH/PPRC/
                PVC/C-PVC/HDPE)
            </div>
        </div> 
        <div class="card my-1">
            <div class="card-body">
                6. Fabrication of FRP Tank, FRP Pipes & Fittings. etc
            </div>
        </div> 
        <div class="card my-1">
            <div class="card-body">
                7. Maintenance of Plants and Industries on Annual Maintenance Contract
                (AMC)
            </div>
        </div> 
        <div class="card my-1">
            <div class="card-body">
                8. Copper Blasting & Painting on MS / SS pipes, structures , equipments
            </div>
        </div> 
    </div>
</body>
</html>
